version: "3.8"
services:
  web:
    build:
      context: .
    image: wms:amd64
    ports:
      - "8000:8000"
    # Load all common env vars from Lightsail containers.json
    env_file:
      - .cache/.env
    # Mount local directories for rapid development
    volumes:
      - ./core:/app/core
      - ./lib:/app/lib
      - ./schemas:/app/schemas
      - ./staticfiles:/app/staticfiles
      - ./wms:/app/wms
    entrypoint:
      - "/app/docker-entrypoint.sh"
