<!DOCTYPE html>
<html>
<head>
    <title>Your Bins</title>
</head>
<body>
    <h1>List of Your Bins</h1>
    <ul>
        {% for bin in bins %}
            <li>
                <a href="{% url 'bin_detail' bin.user_id bin.access_token %}">{{ bin.name }}</a>
                &mdash;
                <a href="{% url 'bin_qr' bin.user_id bin.access_token %}">Download QR Code</a>
            </li>
        {% empty %}
            <li>No bins available.</li>
        {% endfor %}
    </ul>
    <!-- ...additional layout or links... -->
</body>
</html>
